# Ignore all dotfiles by default. This excludes any hidden folders created by DeckBuild, such as
# ".Photocurrent" given "Photocurrent.in".
.*
# Include Git dotfiles.
!.gitignore
!.gitattributes
# Include the Editorconfig configuration.
!.editorconfig
# Include the GitLab CI configuration.
!.gitlab-ci.yml
# Ignore all TeX build files.
[Nn]otes/*
# Include TeX source files.
![Nn]otes/*.tex
[Nn]otes/*temp.tex
![Nn]otes/*.bib
# Include TeX output.
![Nn]otes/*.pdf
# Ignore all Silvaco TCAD files.
*.str
*.log
*.sta
# Ignore other data files.
*.csv
